:root {
    --heading-background-color: steelblue;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1)

}

main{
    max-width: 840px;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;

}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
